<a href="https://colab.research.google.com/github/Naman203r/Car-Sales-Dashboard/blob/main/Titanic_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imported Libraries
#**Conclusion**

* What I did:
     - I imported essential Python libraries — NumPy, Pandas, and Matplotlib.

* Why I did it:

     - NumPy: I needed to perform mathematical and statistical   operations on the data, so I imported NumPy.

     - Pandas: To handle missing values and remove duplicates for cleaner analysis, I used Pandas.

     - Matplotlib: To create visualizations for better understanding of the data, I imported Matplotlib.

* What it helps:
     - These libraries help in performing statistical tasks like    calculating mean, median, and mode, and in creating visual charts to uncover patterns and insights from the data.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data Loading
#**Conclusion**
  * What I did:
      - I loaded the Titanic training dataset using Pandas with the function pd.read_csv().
  * Why I did it:
      - In order to analyze the Titanic dataset, it was necessary to first load the data into the notebook environment.
  * What it helps in:
      - Loading the dataset allows us to perform various operations like data cleaning, exploration, and visualization on the Titanic data.

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Google collab datasets/Titanic Dataset/train.csv")
df

# Data Understanding
#**Conclusion**

  * What I did:
       - I used functions like .shape, .info(), .head(), and .tail() to understand the structure of the dataset.

  * Why I did it:
       - I wanted to find out the number of rows(891) and columns(12) and  also identify data types — such as which columns are numerical, categorical, or mixed. These functions help in gaining a quick overview of the dataset.

  * What it helps:
       - Understanding the structure and types of data is essential for accurate analysis and helps in taking the right decisions during data cleaning and feature selection.

  * What I noticed:
       - I noticed that the Age column contains many null values.
         I also found two more columns(Cabin and Embarked) with missing values.
         These missing values were handled in the Data Cleaning step.

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.tail()

# Data Cleaning.
#**conclusion**
 * What I did:Firstly i took Age column.then i show statistics summary by pandas with a describe funtion.then i used isnull function and then i show distribution of age column.
 *

In [ ]:
df.describe()

In [ ]:
# Show stats.
df['Age'].describe()

In [ ]:
# Distribution of age column
plt.figure(figsize=(17,5))
plt.subplot(1,2,1)
df['Age'].plot(kind="hist")
plt.subplot(1,2,2)
df['Age'].plot(kind="kde")

In [ ]:
df['Age'].skew()

In [ ]:
# Find Null Values across all columns in our data.
df.isnull().sum()

In [ ]:
# filling null value on Age column with median.
df['Age']=df['Age'].fillna(df['Age'].median())

In [ ]:
# Show stats after filling nulls with median.
df['Age'].describe()

In [ ]:
# Replace outliers on Age column using Capping based on Z-score.
# finding boundaries.
upper_limit=df['Age'].mean()+3*df['Age'].std()
lower_limit=df['Age'].mean()-3*df['Age'].std()
print(upper_limit)
print(lower_limit)

In [ ]:
# Detect Outliers
df[(df['Age']<lower_limit) | (df['Age']>upper_limit)]

In [ ]:
# Replace Outliers by Capping technique.
df['Age']=np.where(df['Age']>upper_limit,upper_limit,np.where(df['Age']<lower_limit,lower_limit,df['Age']))

In [ ]:
# Show stats on Age column.
df['Age'].describe()

In [ ]:
# check distribution of data After Replacing outlier on Age column.
plt.figure(figsize=(17,5))
plt.subplot(1,2,1)
df['Age'].plot(kind='hist')
plt.subplot(1,2,2)
df['Age'].plot(kind='kde')

In [ ]:
df['Age'].skew()

# EDA(Exploratory Data Analysis)

# Column Types

* **Categorical:**Survived,Pclass,Sex,SibSp,Parch,Cabin,  Embarked
* **Numerical:**PassengerId,Age,Fare
* **Mixed:**Name,Ticket

# Univariant Analysis On Numerical Column

### Age

**Conclusions**
 * What I did:
   - I Used .describe(),.plot() function to analysis the Age column.
* Why I did it:
   - I Saw means
 Age is normally(almost) distributed.
* 20% values are missing.
* There are some outliers.

In [ ]:
df['Age'].describe()

In [ ]:
df['Age'].plot(kind='hist')

In [ ]:
df['Age'].plot(kind='kde')

In [ ]:
df['Age'].skew()

In [ ]:
df['Age'].plot(kind='box')

In [ ]:
df[df['Age']>65]

In [ ]:
(df['Age'].isnull().sum()/len(df))*100

### Fare
**conclusion**
* Data is highley(Positively) skewed.
* Fare column contain Group Fare not a individual Fare(This might be and issue)
* we need to create new column called individual fare

In [ ]:
df['Fare'].describe()

In [ ]:
df['Fare'].plot(kind='hist')

In [ ]:
df['Fare'].plot(kind='kde')

In [ ]:
df['Fare'].skew()

In [ ]:
df['Fare'].plot(kind='box')

In [ ]:
df[df['Fare']>250]

In [ ]:
df['Fare'].isnull().sum()

# Univariant analysis on Categorical Column

### Survived

**Conclusions**


* most of the people died(above 60%) as campared to survived people.
* there is no null values in Pclass Column.

In [ ]:
df['Survived'].value_counts()

In [ ]:
df['Survived'].value_counts().plot(kind='bar')

In [ ]:
df['Survived'].value_counts().plot(kind='pie',autopct='%1.2f%%')

In [ ]:
df['Survived'].isnull().sum()

### Pclass
**Conclusion**
* maximum number of passengers traveled in Pclass 3.but it is surprising that more passengers traveled in Pclass 1 compared to Pclass 2.

In [ ]:
# Passengers count by Pclass
df['Pclass'].value_counts()

In [ ]:
#plotting
No_of_Passenger=df['Pclass'].value_counts()
df['Pclass'].value_counts().plot(kind='bar',color=['red','yellow','green'],edgecolor='black')
plt.title('Number of Passengers by Pclass',fontsize=19,fontweight='bold')
plt.xlabel("Pclass",fontsize=12)
plt.ylabel("Number of Passengers",fontsize=12)
for index,values in enumerate(No_of_Passenger):
  plt.text(index-0.08,values+3,str(values))
plt.annotate("Maximum Passengers in Pclass 3",xy=(0.1,500),xytext=(0.7,400),arrowprops={'color':'black'},fontsize=11,fontweight='bold')
plt.xticks([0,1,2],['P3','P1','P2'])

plt.show()

In [ ]:
df['Pclass'].value_counts().plot(kind='pie',autopct='%1.2f%%',labels=['P3 Class','P1 Class','P2 Class'])

In [ ]:
df['Pclass'].isnull().sum()

# Bivariant Analysis

### Survive->Pclass
**Conclusion**
* In case of Death,Pclass 1 were less risky as compared to Pclass 1 as well as Pclass 2.

In [ ]:
df

In [ ]:
pd.crosstab(df['Survived'],df['Pclass'],normalize='columns')*100

In [ ]:
plt.imshow(pd.crosstab(df['Survived'],df['Pclass'],normalize='columns')*100,cmap='viridis')
plt.colorbar()
plt.show()

### Survived->Sex
**Conclusion**

In [ ]:
pd.crosstab(df['Survived'],df['Sex'],normalize='columns')*100

In [ ]:
plt.imshow(pd.crosstab(df['Survived'],df['Sex'],normalize='columns')*100,cmap='hot')
plt.colorbar()
plt.show()

### Survival->Embarked
**conclusion**
* Most of the people who boarded from Southampton did not survive.

In [ ]:
pd.crosstab(df['Survived'],df['Embarked'],normalize='columns')*100

In [ ]:
ct=pd.crosstab(df['Survived'],df['Embarked'],normalize='columns')*100
ax=ct.plot(kind='bar',stacked=True,cmap='tab10')

for container in ax.containers:
    ax.bar_label(container,fmt='%.1f%%',label_type='center',color='black',fontsize=10)

### Embarked->Sex
**Conclusion**
* most of the male passengers who boarded from southampton did not survive among all ports.

In [ ]:
pd.crosstab(df['Sex'],df['Embarked'],normalize='columns')*100

In [ ]:
ct=pd.crosstab(df['Sex'],df['Embarked'],normalize='columns')*100
ax=ct.plot(kind='bar',stacked=True,colormap='Set2')
for container in ax.containers:
  ax.bar_label(container,fmt='%1.2f%%',label_type='center')

### Pclass->Embarked
**Conclusion**
* Most of the Male Passengers who boarded from Queenstown did not survive were in 3rd classs and the survival rate was lowest among all the port.

In [ ]:
pd.crosstab(df['Pclass'],df['Embarked'])*100

In [ ]:
ct=pd.crosstab(df['Pclass'],df['Embarked'],normalize='columns')*100
ax=ct.plot(kind='bar',stacked=True,cmap='Set2')
for container in ax.containers:
  ax.bar_label(container,fmt='%1.2f%%',label_type='center')

### Survived->Age
**Conclusion**
* Most of the passengers aged around 0–5(children age) years had a higher survival rate as compared to other age.

In [ ]:
df[df['Survived'] == 1]['Age'].plot(kind='kde',label='Survived')
df[df['Survived'] == 0]['Age'].plot(kind='kde',label='Not Survived')

plt.legend()
plt.show()

# Feature Engineering

### Fare Column
**Conclusion**
* I created a new column called Individual_Fare by dividing the total Fare by the total number of people (SibSp + Parch + 1).
This helps to find how much fare each person paid individually, which can be more accurate for analysis and modeling.

In [ ]:
df1=pd.read_csv("/content/drive/MyDrive/Google collab datasets/Titanic Dataset/test.csv")
df1

In [ ]:
df=pd.concat([df,df1])
df

In [ ]:
df[df['Ticket'] == 'CA 2144']

In [ ]:
df['individual_fare'] = df['Fare']/(df['SibSp'] + df['Parch'] + 1)
df

In [ ]:
df['individual_fare'].plot(kind='box')

In [ ]:
df[['individual_fare','Fare']].describe()

**Conclusion**
* I made an extra column called Family Size with the help of the SibSp and Parch columns.

  I did this to identify which passengers were travelling alone or maybe with their family.

 This information helps us develop the model.

In [ ]:
df['family_size'] = df['SibSp'] + df['Parch'] + 1

In [ ]:
# family_type
# 1 -> alone
# 2-4 -> small
# >5 -> large

def transform_family_size(num):

  if num == 1:
    return 'alone'
  elif num>1 and num <5:
    return "small"
  else:
    return "large"
df['family_type'] = df['family_size'].apply(transform_family_size)

In [ ]:
df

In [ ]:
# Multivariant Analysis

### Survived->family_type.
**Conclusion**
* I created a frequency table that shows how many passengers did    not survive based on their family size whether they were alone
, in a small family, or in a large family."
* I also created stack bar plot that provide better visual understanding of data.
* I noticed one thing: passegers who had large families were less   chance to survive.

In [ ]:
ct=pd.crosstab(df['Survived'],df['family_type'],normalize='columns')*100
ct

In [ ]:
#plotting
ax=ct.plot(kind='bar',stacked=True,cmap='cividis')
for container in ax.containers:
  ax.bar_label(container,fmt='%1.2f%%',label_type='center',color='white',fontweight='bold')

In [ ]:
df['surname'] = df['Name'].str.split(',').str.get(0)
df

# Multivariate Analysis.

## correlation between variable.
## **conclusion**
* I created a correlation matrix to understand the relationship between numerical variables. This helped identify how strongly or weakly the variables are correlated.

* I also used a heatmap to visualize these relationships for better understanding.

In [ ]:
df.corr(numeric_only=True)

In [ ]:

corr=df.corr(numeric_only=True)
plt.imshow(corr)
plt.xticks(np.arange(len(corr)),corr, rotation=90)
plt.yticks(np.arange(len(corr)),corr)
for i in range(len(corr)):
  for j in range(len(corr)):
    plt.text(i-0.4,j,f"{corr.iloc[i, j]:.2f}")
plt.colorbar()
plt.show()